<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="/fragments/header"/>
<body>
<div id="patient">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <th:block th:include="/fragments/patient-nav"/>
            </div>
        </div>
        <div class="row container mt-lg-2 border-right border-bottom bg-transparent h-100">
            <div class="col w-25">
                <a class="link mt-3" href="#info1">Информация за прегледите</a>
            </div>
            <div class="col w-75 ">
                <h1 th:text="|Здравейте ${#session.getAttribute('name')}!|"
                    class="w-100 text-light text-right "></h1>
            </div>
        </div>
        <div class="row w-100 text-white mt-3 ml-3">
            <div class="col w-50">
                <input type="hidden" id="sendername" th:data-value="${pName}">
                <input type="hidden" id="recipientname" th:data-value="${#session.getAttribute('nName')}">
                <p th:text="|${#session.getAttribute('practice')}|"></p>
                <p th:text="|Вашият лекар е ${#session.getAttribute('doc')}|"></p>
                <p th:text="|Вашата сестра е ${#session.getAttribute('nurse')}|"></p><br>
                <label class="text-left text-white" for="message">Остави съобщение:</label>
                <textarea id="message" type="textarea" class="form-control" rows="5"
                          placeholder="Съобщение"></textarea>
                <input type="submit" onclick="send()" class="btn-primary text-white border" value="Изпрати"/>
            </div>
            <div id="messages" class="col w-50 border-left div-overflow">
                test
            </div>
        </div>
        <div id="info" class="col mt-3 border-top text-white">
            <p id="first" class="mt-3">Профилактични прегледи:</p>
            <div id="info1" class="row w-100 "></div>
            <p id="second" class="mt-3">Диспансерна дейност:</p>
            <div id="info2" class="row w-100 "></div>
            <p id="third" class="mt-3">Амбулаторна дейност:</p>
            <div id="info3" class="row w-100 "></div>
        </div>

    </div>
    <th:block th:include="/fragments/footer"/>
</div>
<script src="/js/user-messages-load.js"></script>
<script src="/js/get-info.js"></script>
</body>
</html>