<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="/fragments/header"/>
<body>
<div id="patient">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <th:block th:include="/fragments/patient-nav"/>
            </div>
        </div>
        <div class="container mt-lg-2 border-right border-bottom bg-transparent h-100">
            <h1 th:text="|Здравейте ${#session.getAttribute('name')}!|" class="w-100 text-light text-right"></h1>
        </div>
        <div class="row w-100 text-white mt-3 ml-3">
            <div class="col w-50">
                <input type="hidden" id="sendername" th:data-value="${pName}">
                <input type="hidden" id="recipientname" th:data-value="${#session.getAttribute('nName')}">
                <p th:text="|${#session.getAttribute('practice')}|"></p>
                <p th:text="|Вашият лекар е ${#session.getAttribute('doc')}|"></p>
                <p th:text="|Вашата сестра е ${#session.getAttribute('nurse')}|"></p><br>
                <label class="text-left text-white" for="message">Остави съобщение:</label>
                <textarea id="message" type="textarea" class="form-control" rows="5"
                          placeholder="Съобщение"></textarea>
                <input type="submit" onclick="send()" class="btn-primary text-white border" value="Изпрати"/>
            </div>
            <div id="messages" class="col w-50 border-left div-overflow">
                test
            </div>
        </div>



    </div>
    <th:block th:include="/fragments/footer"/>
</div>
<script>
    $(document).ready(function () {
        counter();
    })

    function counter() {
        $('#messages').empty();
        var username = $("#sendername").data('value');

        $.ajax({
            url: "http://localhost:8080/info/count/" + username, // A valid URL
            type: 'GET', // Use POST with X-HTTP-Method-Override or a straight PUT if appropriate.
            success: function (data) {
                let message = '<p>Имате ' + data + ' непрочетени съобщения!</p>';
                $("#messages").append(message);
                var count = data;
                if (count !== '0') {
                    getMessage(username);
                }
            }
        });
    }

    function getMessage(username) {
        fetch('http://localhost:8080/info/unreaded/' + username).then(responce => responce.json())
            .then((json) => json.forEach((msg, idx) => {

                let text =
                    '<button class="message" data-id="'+msg.id+'"><p>От:'+msg.leftFrom+'</p><p>Оставено на:'+msg.leftOn+'</p></button>';
                $('#messages').append(text);
            }));
    };

    $('body').on('click','button.message',function () {
        let num = $(this).data('id');
        $.ajax({
            url: "http://localhost:8080/info/single/" + num, // A valid URL
            type: 'GET', // Use POST with X-HTTP-Method-Override or a straight PUT if appropriate.
            success: function (data) {
                let message = 'От: '+ data.leftFrom +'\n' + data.body +'\n'+ 'Оставено на: ' + data.leftOn;
                alert(message);
                counter();
            },
            error: function( Xhr, textStatus, errorThrown ){
                alert( Xhr.responseText);
            }
        });
    });


    function send() {
        let message = document.getElementById("message").value;
        let sender = $("#sendername").data('value');
        let recipient = $("#recipientname").data('value');

        if(jQuery.isEmptyObject(message) | message.length<10){
            window.alert('Съобщението трябва да съдържа поне 10 символа!')
        }else {
            if (confirm("Да изпратя ли съобщението?")) {

                let dto = {receive: recipient, sendfrom: sender, mess: message}
                $.ajax({
                    url: "http://localhost:8080/info/send", // A valid URL
                    type: 'PUT', // Use POST with X-HTTP-Method-Override or a straight PUT if appropriate.
                    data: JSON.stringify(dto),
                    contentType: 'application/json; charset=utf-8',// Some data e.g. Valid JSON as a string
                    success: function (data) {
                        alert(data);
                        $('#message').val('');
                    },
                    error: function (Xhr, textStatus, errorThrown) {
                        alert(Xhr.responseText);
                    }
                });
            }
        }
    }
</script>
</body>
</html>