<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="/fragments/header"/>
<body id="editPractice">
<div id="edit">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <th:block th:include="/fragments/admin-nav"/>
            </div>
        </div>

        <div class="container mt-lg-2 border-right border-bottom bg-transparent h-100">
            <h1 th:text="${#session.getAttribute('pName')}" class="w-100 text-light text-right"></h1>
        </div>
    </div>
    <div class="col mt-3">
        <div class="col w-50 mx-auto bg-transparent text-white">
            <form th:object="${practiceBindModel}" th:action="@{/practices/editpractice}" th:method="POST"
                  class="tm-login-form">
                <div class="input-group">
                    <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Име на
                        практиката*</label>
                    <input th:field="*{name}" name="regNumber" type="text" class="form-control validate"
                           th:errorclass="bg-danger" id="name" placeholder="Въведи име">
                    <div class="mx-auto">
                        <div>
                            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <label for="regNumber" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Регистрационен
                        номер*</label>
                    <input th:field="*{regNumber}" name="regNumber" type="text" class="form-control validate"
                           th:errorclass="bg-danger" id="regNumber" placeholder="Въведи номер">
                    <div class="mx-auto">
                        <div>
                            <small th:if="${#fields.hasErrors('regNumber')}" th:errors="*{regNumber}"
                                   class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <label for="phoneNumber" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Телефонен
                        номер*</label>
                    <input th:field="*{phoneNumber}" name="phoneNumber" type="text" class="form-control validate"
                           th:errorclass="bg-danger" id="phoneNumber" placeholder="Въведи тел. номер">
                    <div class="mx-auto">
                        <div>
                            <small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                   class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <label for="logo" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Лого*</label>
                    <input th:field="*{logo}" name="logo" type="text" class="form-control validate"
                           th:errorclass="bg-danger" id="logo" placeholder="Лого">
                    <div class="mx-auto">
                        <div>
                            <small th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}" class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="input-group mt-3 ">
                    <button type="submit" class="btn btn-reg d-inline-block mx-auto">Редактирай</button>
                </div>
            </form>
        </div>
    </div>
    <th:block th:include="/fragments/footer"/>
</div>
</body>
</html>